.template1 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . c c c c c . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . c c c c c . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template2 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template3 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
}

.template4 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

.template5 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template6 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template7{
    grid-template-areas:
     ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

.template9 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template8 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template9 {
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

.template10{
    grid-template-areas:
     ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

.template11{
    grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.page-book .grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0.25rem;
    place-items: stretch;
}

.camera-container__camera
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.page-book .grid-image {
    grid-area: a;
}

.page-book .grid-image:nth-child(2) {
    grid-area: b;
}

.page-book .grid-camera {
    grid-area: c;
}

.page-gallery .grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.page-gallery .grid-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vw;
    padding: 1rem;
}

@media (min-width: 578px) {
    .page-book .grid-container {
        grid-gap: 1rem;
    }

    .page-gallery .grid-image {
        width: calc(100%/2);
        height: calc(100vw/2);
    }
}

@media (min-width: 992px) {
    .page-gallery .grid-image {
        width: calc(100%/3);
        height: calc(100vw/3);
        padding: 2rem 1rem;
    }
}

@media (min-width: 1440px) {
    .page-gallery .grid-image {
        width: calc(100%/4);
        height: calc(100vw/4);
    }
}

@media (min-width: 1600px) {
    .page-gallery .grid-image {
        width: calc(100%/5);
        height: calc(100vw/5);
    }
}

@media (min-width: 1900px) {
    .page-gallery .grid-image {
        width: calc(100%/5);
        height: calc(100vw/5);
    }
}
